@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hdr {
  position: fixed;
  width: 100%;
  height: 54px;
  background: #0d0f1e;
  z-index: 1;
  /* border: 1px solid yellow; */
}

header {
  /* border: 1px solid yellow; */
  margin-top: 1.9px;
}

@keyframes showMenu {
  0%{
    transform: scaleY(0);
  }
  80%{
    transform: scaleY(1.2);
  }
  100%{
    transform: scaleY(1);
  } 
}

.navlist {
  position: absolute;
  top: -0.2rem;
  right: 2rem;
}

ul {
  list-style-type: none;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 800;
  padding: 0.65rem;
  display: inline-block;
}

li {
  font-size: 1.7rem;
  display: inline-block;
  margin-inline: 1rem;
}

li a {
  color: white;
  text-decoration: none;
}

li :is(a:focus, a:hover) {
  color: hsl(225, 95%, 52%);
}

li a:active {
  color: whitesmoke;
}

h1 {
  display: inline-block;
  padding: 6px;
  font-style: bold;
  font-size: 2rem;
  color: #137afd;
  font-family: "Zen Dots", 'Allerta Stencil', sans-serif;
  cursor: pointer;
  /* border: 1px solid yellow; */
}

/* backgorund */
.dot {
  border: 2px solid #b0f12e;
  border-radius: 2rem;
}

body {
  font-family: "Changa";
  background-color: hsl(256, 36%, 16%);
  min-height: 160vh;
  background: #1b1621;
  display: flex;
  flex-direction: column;
}

.h3 {
  text-align: center;
  font-size: 2.2rem;
  color: rgb(255, 255, 255);
  cursor: default;
}

.contact {
  text-align: center;
  margin-top: 1rem;
}

.contact a {
  margin-inline: 0.4rem;
}

.contact :hover {
  transform: scale(1.2)
}

.contact1 {
  width: 100%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  font-size: 3.5rem;
  color: #137afd;
  margin-top: 15rem;
}

.contact2 {
  margin-top: 9rem;
  color: whitesmoke;
}

.contact3 {
  width: 100%;
  margin-top: 9rem;
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
}

.intro {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 85rem;
  /* border: 1px solid yellowgreen; */
}

.form {
  display:flex;
  flex-flow:row;
  margin-top: 3rem;
  /* justify-content: space-between; */
}

.name {
  display: flex;
  flex-flow: column;
  width: 30%;
  margin-left: 4rem;
  margin-top: 0.5rem;
}

.msgcon {
  width: 40%;
  margin-left: 2rem;
}

.fname,
.lname {
  /* border: 2px solid red; */
  border-radius: 1rem;
  height: 3rem;
}

.txtarea {
  border-radius: 1rem;
  width: 270px;
  height: 100px;
}

.submit {
  border-radius: 0.5rem;
  width: 5rem;
  height: 2rem;
}

/* media queries */
@media screen and (max-width:575px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  h1 {
    padding: 8px;
    font-size: 1.8rem;
  }

  .navlist {
    display: none;
  }

  .contact1 {
    font-size: 3.3rem;
  }
  .h3{
    font-size: 1.5rem;
  }
  .contact3 {
    font-size: 1.5rem;
  }

  .form {
    flex-flow: column;
  }

  .name {
    width: 15rem;
    margin-left: 3.3rem;
    margin-top: 0.5rem;
  }

  .msgcon {
    width: 100%;
    margin-left: 3rem;
  }

  .fname,
  .lname {
    /* border: 2px solid red; */
    border-radius: 1rem;
    height: 3rem;
    width: 100%;
  }

  .txtarea {
    margin-left: 0.4rem;
    width: 15rem;
    height: 100px;
  }
  .msg{
    font-size: 1.5rem;
    margin-left: 0.3rem;
  }
  .submit {
    border-radius: 0.5rem;
    margin-left: 3.5rem;
    width: 5rem;
    height: 2rem;
  }


  /* Menu button */
  button {
    position: absolute;
    top: 9.5px;
    right: 2rem;
    background: transparent;
  }

  .menu .icon {
    position: relative;
    width: 37px;
    height: 3.5px;
    border-radius: 5px;
    margin: 6px auto;
    background: whitesmoke;
    transition: all 0.3s;
  }

  .menu {
    border: none;
    transition: all .5s;
  }

  :is(button:hover) .icon:nth-child(2) {
    background-color: transparent;
  }

  .menu:hover {
    transform: rotate(720deg)
  }

  :is(button:hover) .icon:nth-child(1) {
    transform: translateY(9px) rotate(45deg)
  }

  :is(button:hover) .icon:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg)
  }

}

@media screen and (min-width:576px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  h1 {
    padding: 8px;
    font-size: 1.8rem;
  }

  .navlist {
    display: none;
  }

  .contact1 {
    font-size: 3.3rem;
  }
  .h3{
    font-size: 1.7rem;
  }
  .contact3 {
    font-size: 1.5rem;
  }

  .form {
    flex-flow: column;
  }

  .name {
    width: 15rem;
    margin-left: 3.3rem;
    margin-top: 0.5rem;
  }

  .msgcon {
    width: 100%;
    margin-left: 3rem;
  }

  .fname,
  .lname {
    /* border: 2px solid red; */
    border-radius: 1rem;
    height: 3rem;
    width: 100%;
  }

  .txtarea {
    margin-left: 0.4rem;
    width:25rem;
    height: 100px;
  }
  .msg{
    font-size: 1.5rem;
    margin-left: 0.3rem;
  }
  .submit {
    border-radius: 0.5rem;
    margin-left: 3.5rem;
    width: 5rem;
    height: 2rem;
  }


  /* Menu button */
  button {
    position: absolute;
    top: 9.5px;
    right: 2rem;
    background: transparent;
  }

  .menu .icon {
    position: relative;
    width: 37px;
    height: 3.5px;
    border-radius: 5px;
    margin: 6px auto;
    background: whitesmoke;
    transition: all 0.3s;
  }

  .menu {
    border: none;
    transition: all .5s;
  }

  :is(button:hover) .icon:nth-child(2) {
    background-color: transparent;
  }

  .menu:hover {
    transform: rotate(720deg)
  }

  :is(button:hover) .icon:nth-child(1) {
    transform: translateY(9px) rotate(45deg)
  }

  :is(button:hover) .icon:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg)
  }

}

@media screen and (min-width:768px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  h1 {
    padding: 8px;
    font-size: 1.8rem;
  }

  .navlist {
    display: none;
  }

  .contact1 {
    font-size: 3.3rem;
  }
  .h3{
    font-size: 1.7rem;
  }
  .contact3 {
    font-size: 1.5rem;
    margin-top: 5.7rem;
  }

  .form {
    margin-left: 6rem;
    flex-flow: column;
  }

  .name {
    width: 15rem;
    margin-left: 3.3rem;
    margin-top: 0.5rem;
  }

  .msgcon {
    width: 100%;
    margin-left: 3rem;
  }

  .fname,
  .lname {
    /* border: 2px solid red; */
    border-radius: 1rem;
    height: 3rem;
    width: 100%;
  }

  .txtarea {
    margin-left: 0.4rem;
    width:30rem;
    height: 100px;
  }
  .msg{
    font-size: 1.5rem;
    margin-left: 0.3rem;
  }
  .submit {
    border-radius: 0.5rem;
    margin-left: 3.5rem;
    width: 5rem;
    height: 2rem;
  }


  /* Menu button */
  button {
    position: absolute;
    top: 9.5px;
    right: 2rem;
    background: transparent;
  }

  .menu .icon {
    position: relative;
    width: 37px;
    height: 3.5px;
    border-radius: 5px;
    margin: 6px auto;
    background: whitesmoke;
    transition: all 0.3s;
  }

  .menu {
    border: none;
    transition: all .5s;
  }

  :is(button:hover) .icon:nth-child(2) {
    background-color: transparent;
  }

  .menu:hover {
    transform: rotate(720deg)
  }

  :is(button:hover) .icon:nth-child(1) {
    transform: translateY(9px) rotate(45deg)
  }

  :is(button:hover) .icon:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg)
  }

}

@media screen and (min-width:992px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .navlist {
    display: inline;
    top: 0.05rem;
    right: 0rem;
  }

  h1 {
    padding: 8px 8px 8px 8px;
    font-size: 2rem;
  }

  .contact1 {
    font-size: 3.3rem;
  }
  .h3{
    font-size: 1.7rem;
  }
  .contact3 {
    font-size: 1.5rem;
    margin-top: 5.5rem;
  }

  .form {
    display: grid;
    grid-auto-flow: row;
    margin-left: 4rem;
    margin-top: 6rem;
    grid-template-columns: 1fr 2fr;
  }

  .name {
    width:15rem;
    margin-left: 3.3rem;
    margin-top: 0.5rem;
  }

  .msgcon {
    width: 100%;
    margin-left: 3rem;
  }

  .fname,
  .lname {
    /* border: 2px solid red; */
    border-radius: 1rem;
    height: 3rem;
    width: 100%;
  }

  .txtarea {
    margin-left: 0.4rem;
    width:30rem;
    height: 200px;
  }
  .msg{
    font-size: 1.5rem;
    margin-left: 0.3rem;
  }
  .submit {
    border-radius: 0.5rem;
    margin-left: 3.5rem;
    width: 5rem;
    height: 2rem;
  }

  button {
    display: none;
  }
}

@media screen and (min-width:1200px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .navlist {
    display: inline;
    top: 0.05rem;
    right: 0rem;
  }

  h1 {
    padding: 8px 8px 8px 8px;
    font-size: 2rem;
  }

  .contact1 {
    font-size: 3.3rem;
  }
  .h3{
    font-size: 1.7rem;
  }
  .contact3 {
    font-size: 1.5rem;
    margin-top: 10rem;
  }

  .form {
    margin-left: 15rem;
    flex-flow: row;
  }

  .name {
    width:15rem;
    margin-left: 3.3rem;
    margin-top: 0.5rem;
  }

  .msgcon {
    width: 100%;
    margin-left: 3rem;
  }

  .fname,
  .lname {
    /* border: 2px solid red; */
    border-radius: 1rem;
    height: 3rem;
    width: 100%;
  }

  .txtarea {
    margin-left: 0.4rem;
    width:30rem;
    height: 200px;
  }
  .msg{
    font-size: 1.5rem;
    margin-left: 0.3rem;
  }
  .submit {
    border-radius: 0.5rem;
    margin-left: 3.5rem;
    width: 5rem;
    height: 2rem;
  }

  button {
    display: none;
  }
}

@media screen and (max-height:425px) and (min-aspect-ratio:7/4) {
  header {
    /* border: 1px solid yellow; */
    height: 47px;
  }

  h1 {
    padding: 4px;
    font-size: 2rem;
    /* border: 1px solid yellow; */
  }

  .navlist {
    font-size: 26px;
    padding: 8px;
  }

  .h3 {
    font-size: min(350%, 400px);
  }

  .contact1 {
    font-size: 3.3rem;
    margin-top: 10rem;
  }
  .h3{
    font-size: 1.7rem;
  }
  .contact3 {
    font-size: 1.5rem;
    margin-top: 4rem;
  }

  .form {
    flex-flow: column;
  }

  .name {
    width: 15rem;
    margin-left: 3.3rem;
    margin-top: 0.5rem;
  }

  .msgcon {
    width: 100%;
    margin-left: 3rem;
  }

  .fname,
  .lname {
    /* border: 2px solid red; */
    border-radius: 1rem;
    height: 3rem;
    width: 100%;
  }

  .txtarea {
    margin-left: 0.4rem;
    width: 20rem;
    height: 100px;
  }
  .msg{
    font-size: 1.5rem;
    margin-left: 0.3rem;
  }
  .submit {
    border-radius: 0.5rem;
    margin-left: 3.5rem;
    width: 5rem;
    height: 2rem;
  }


  .contact {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }


}