@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Changa&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hdr {
  height: 54px;
  z-index: 1;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

header {
  width: 100%;
  background: #0d0f1e;
  position: fixed;
  z-index: 1;
  /* border: 1px solid yellow; */
  display: flex;
  flex-flow: column;
}

@keyframes showMenu {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}
h1 a{
  color: #137afd;
  text-decoration: none;
}
.navlist {
  background-color: #41413d;
  display: none;
  z-index: 1;
  transform-origin: top center;
  animation: showMenu 0.5s ease-in-out forwards;
}

.navlist ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 800;
}

.navlist li {
  padding: 0.5rem;
  border-top: 1px solid #0d0f1e;
  font-size: 1.7rem;
}

.navlist a {
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
}

.navlist a:any-link{
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navlist a:hover,
.navlist a:focus {
  transform: scale(1.2);
  color: whitesmoke;
  transition: all 0.3s;
}

h1 {
  display: inline-block;
  padding: 6px;
  font-style: bold;
  font-size: 2rem;
  color: #137afd;
  font-family: "Zen Dots", 'Allerta Stencil', sans-serif;
  cursor: pointer;
  /* border: 1px solid yellow; */
}

/* backgorund */
.star{
  /* display: flex; */
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
}
.dot{
  /* border: 2px solid #b0f12e; */
  position: absolute;
  margin: 10px;
  z-index: -1;
  border-radius: 2rem;
}
.dot:nth-child(even){
  width: 2px;
  height: 2px;
  background: #fefefe;
  box-shadow: 0 0 0 4px #5e5e5f44,
  0 0 1rem #fefefe, 0 0 50rem #fefefe;
}
.dot:nth-child(odd){
  width: 3px;
  height: 3px;
  background: #f8ce00;
  box-shadow: 0 0 0 4px #5e5e5f44,
  0 0 1rem #f8ce00, 0 0 50rem #f8ce00;
}

body {
  font-family: "Changa";
  background-color: hsl(256, 36%, 16%);
  min-height: 160vh;
  background: #1b1621;
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;
  top: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name {
  font-family: 'Allerta Stencil', Courier, monospace;
  color: #b0f12e;
}

.nowrap {
  white-space: nowrap;
}

.container1 {
  display: flex;
  flex-flow: row;
  height: 44rem;
  justify-content:space-between;
  /* border : 2px solid yellow; */
}

.container2 {
  display: flex;
  width: 100%;
  flex-flow: column;
  /* border: 2px solid yellow; */
}

.h3 {
  color: white;
  font-size: 3rem;
  cursor: default;
}

.h2 {
  font-size: 3.3rem;
  color: rgb(255, 255, 255);
  cursor: default;
}

#head {
  margin-top: 3.5rem;
  color: whitesmoke;
  margin-left: 3.5rem;
}

.about {
  color: whitesmoke;
}

.animated {
  width: 10rem;
  transform-style: preserve-3d
}
.animfigure{
  /* border: 1px solid yellow; */
  transform: translateZ(200px);
  width: 170%;
  height: auto;
}
.container3 {
  display: flex;
  margin: 0.3rem;
  border-radius: 1rem;
  background: #3a6ebc;
  color: rgb(9, 9, 9);
  opacity: 80%;
  min-height: 468px;
  padding: 3rem 0 3rem 3rem;
}

.article {
  margin: 7.4rem 0px 7rem 10rem;
  font-size: 1.5rem;
}

.articlelist {
  list-style-type: none;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: 800;
  padding: 0.65rem;
  display: inline-block;
}

.section3 {
  position: relative;
  width: 65%;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.img {
  /* display: block; */
  position: absolute;
  top: 3.6rem;
  left: 2rem;
}

.container5 {
  background-color: #fefefe;
  width: 100%;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  position: relative;
}

figure {
  display: flex;
}

.figure {
  position: relative;
  top: 3.6rem;
  right: 2rem;
}

.h4 {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  cursor: default;
}

.container4 {
  margin: 7rem auto 0 auto;
}

h2 {
  color: aliceblue;
}

.contact {
  text-align: center;
  margin-top: 1rem;
}

.contact a {
  margin-inline: 0.4rem;
}

.contact :hover {
  transform: scale(1.2)
}

/* media queries */
@media screen and (max-width:575px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  h1 {
    padding: 12px;
    font-size: 1.5rem;
  }

  .h2 {
    margin: auto;
    font-size: 2.2rem;
  }

  .h3 {
    margin: auto;
    font-size: 1.9rem;
  }

  .container1 {
    height: 39rem;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .articlelist {
    padding-left: 1.5rem;
  }

  .articlelist li {
    font-size: 13px;
  }

  .container2 {
    top: 27vh;
  }

  .container3 {
    padding: 2rem 0 2rem 2rem;
  }

  .container5 {
    flex-flow: column;
  }
  .animfigure{
    width: 170%;
    height: auto;
  }
  .article {
    margin: 28px 30px 0px 34px;
  }

  .section3 {
    width: 100%;
  }

  .figure {
    width: 40%;
    height: auto;
    top: -0.4rem;
    right: 0rem;
  }

  figure {
    justify-content: center;
  }

  /* Menu button */
  .menu {
    position: relative;
    /* border: 1px solid yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 0.4rem;
    right: 1.6rem;
    background: transparent;
    border: none;
  }

  .icon,
  .icon::before,
  .icon::after {
    position: absolute;
    width: 35px;
    height: 3.5px;
    border-radius: 5px;
    background: whitesmoke;
    transition: all 0.3s;
  }

  .icon::before,
  .icon::after {
    content: " ";
  }

  .icon::before {
    transform: translate(-17.5px, -12px);
  }

  .icon::after {
    transform: translate(-17.5px, 12px);
  }

  .icon_clicked {
    background-color: transparent;
    transform: rotate(720deg)
  }

  .icon_clicked::before {
    transform: translateX(-17px) rotate(45deg);
  }

  .icon_clicked::after {
    transform: translateX(-17px) rotate(-45deg);
  }

  .img {
    width: 10%;
    width: 38px;
    top: 1.3rem;
    left: 0.7rem;
  }

  p {
    font-size: 1rem;
  }

}

@media screen and (min-width:576px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  h1 {
    padding: 9px 8px 8px 8px;
    font-size: 1.8rem;
  }

  .h2 {
    margin: auto;
    font-size: 2.2rem;
  }

  .h3 {
    margin: auto;
    font-size: 1.9rem;
  }

  .container1 {
    height: 39rem;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
  }

  .animfigure{
    width: 170%;
    height: auto;
  }

  .slash {
    width: 0.67rem;
    height: 8rem;
  }

  .articlelist {
    padding-left: 1.5rem;
  }

  .articlelist li {
    font-size: 20px;
  }

  .container2 {
    top: 28vh;
  }

  .container3 {
    padding: 2rem 0 2rem 2rem;
  }

  .container5 {
    flex-flow: column;
  }

  .article {
    margin: 40px 30px 0px 62px;
  }

  .section3 {
    width: 100%;
  }

  .figure {
    width: 40%;
    height: auto;
    top: -0.4rem;
    right: 0rem;
  }

  figure {
    justify-content: center;
  }

  /* Menu button */
  .menu {
    position: relative;
    /* border: 1px solid yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    top: 0.1rem;
    right: 2rem;
    background: transparent;
    border: none;
  }

  .icon,
  .icon::before,
  .icon::after {
    position: absolute;
    width: 42px;
    height: 3.5px;
    border-radius: 5px;
    background: whitesmoke;
    transition: all 0.3s;
  }

  .icon::before,
  .icon::after {
    content: " ";
  }

  .icon::before {
    transform: translate(-21px, -12px);
  }

  .icon::after {
    transform: translate(-21px, 12px);
  }

  .icon_clicked {
    background-color: transparent;
    transform: rotate(720deg)
  }

  .icon_clicked::before {
    transform: translateX(-20px) rotate(45deg);
  }

  .icon_clicked::after {
    transform: translateX(-20px) rotate(-45deg);
  }

  .img {
    width: 10%;
    max-width: 60px;
    top: 1.3rem;
    left: 0.7rem;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width:768px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  h1 {
    padding: 8px 8px 8px 8px;
    font-size: 2rem;
  }

  .navlist {
    display: none;
  }

  .h2 {
    margin: auto;
    font-size: 2.8rem;
  }

  .h3 {
    margin: auto;
    font-size: 2.5rem;
  }

  .container1 {
    height: 41rem;
    flex-flow: column;
  }

  .animated {
    top: 64vh;
    left: 13vw;
  }

  .articlelist li {
    font-size: 20px;
  }

  .container2 {
    top: 26vh;
  }

  .container3 {
    padding: 2rem 0 2rem 2rem;
  }

  .container5 {
    flex-flow: column;
  }

  .article {
    margin: 40px 30px 0px 62px;
  }

  .section3 {
    width: 100%;
  }

  .figure {
    width: 30%;
    height: auto;
    top: -0.4rem;
    right: 0rem;
  }

  figure {
    justify-content: center;
  }

  /* Menu button */
  .menu {
    position: relative;
    /* border: 1px solid yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    top: 0.1rem;
    right: 2rem;
    background: transparent;
    border: none;
  }

  .icon,
  .icon::before,
  .icon::after {
    position: absolute;
    width: 42px;
    height: 3.5px;
    border-radius: 5px;
    background: whitesmoke;
    transition: all 0.3s;
  }

  .icon::before,
  .icon::after {
    content: " ";
  }

  .icon::before {
    transform: translate(-21px, -12px);
  }

  .icon::after {
    transform: translate(-21px, 12px);
  }

  .icon_clicked {
    background-color: transparent;
    transform: rotate(720deg)
  }

  .icon_clicked::before {
    transform: translateX(-20px) rotate(45deg);
  }

  .icon_clicked::after {
    transform: translateX(-20px) rotate(-45deg);
  }

  .img {
    width: 10%;
    max-width: 60px;
    top: 1.3rem;
    left: 0.7rem;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width:992px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .navlist {
    background: #0d0f1e;
    display: inline-block;
    animation: none;
  }

  .navlist li {
    margin-inline: 0.3rem;
  }

  .navlist ul {
    padding-right: 1.5rem;
    flex-flow: row nowrap;
  }

  h1 {
    padding: 8px 8px 8px 8px;
    font-size: 2rem;
  }

  .h2 {
    margin-left: 0rem;
    font-size: 2.4rem;
  }

  .h3 {
    margin-left: 0rem;
    font-size: 2.2rem;
  }

  .container1 {
    justify-content: space-around;
    height: 39rem;
    flex-flow: row;
  }
  .animated{
    width: 21rem;
    /* border: 1px solid red; */
  }
  .animfigure{
    width: 100%;
    height: auto;
  }
  .articlelist li {
    font-size: 20px;
  }

  .container2 {
    display: flex;
    width: 36%;
    align-items: center;
  }

  .container3 {
    padding: 2rem 0 2rem 2rem;
  }

  .container5 {
    flex-flow: column;
  }

  .article {
    margin: 40px 30px 0px 62px;
  }

  .section3 {
    width: 100%;
  }

  .navlist {
    display: inline;
    top: 0.05rem;
    right: 0rem;
  }

  li {
    font-size: 1.4rem;
    margin-inline: 0.7rem;
  }

  .menu {
    display: none;
  }

  .figure {
    width: 30%;
    height: auto;
    top: -0.4rem;
    right: 0rem;
  }

  figure {
    justify-content: center;
  }

  .img {
    width: 10%;
    max-width: 60px;
    top: 1.3rem;
    left: 0.7rem;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width:1200px) {
  .hdr {
    height: 3.5rem;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .navlist {
    background: #0d0f1e;
    display: inline-block;
    animation: none;
  }

  .navlist li {
    margin-inline: 0.3rem;
  }

  .navlist ul {
    padding-right: 1.5rem;
    flex-flow: row nowrap;
  }

  h1 {
    padding: 8px 8px 8px 8px;
    font-size: 2rem;
  }

  .h2 {
    margin-left: 2rem;
    font-size: 3.0rem;
  }

  .h3 {
    margin-left: 2rem;
    font-size: 2.6rem;
  }

  .container1 {
    height: 45rem;
    flex-flow: row;
  }
  .animated{
    width: 23rem;
    /* border: 1px solid red; */
  }
  .animfigure{
    width: 100%;
    height: auto;
  }
  .articlelist li {
    font-size: 20px;
  }

  .navlist {
    display: inline;
    top: 0.05rem;
    right: 0rem;
  }

  li {
    font-size: 1.4rem;
    margin-inline: 0.7rem;
  }

  .menu {
    display: none;
  }

  .container2 {
    top: 36vh;
    left: 0vw;
  }

  .container3 {
    padding: 2rem 0 2rem 2rem;
  }

  .container5 {
    flex-flow: row;
  }

  .article {
    margin: 40px 30px 0px 62px;
  }

  .section3 {
    margin-left: 5rem;
    margin-top: 3rem;
    width: 70%;
  }

  .figure {
    width: 100%;
    height: auto;
    top: 0rem;
    right: 2rem;
  }

  figure {
    justify-content: center;
  }

  /* Menu button */

  .img {
    width: 10%;
    max-width: 60px;
    top: 1.3rem;
    left: 0.7rem;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (max-height:425px) and (min-aspect-ratio:7/4) {
  header {
    /* border: 1px solid yellow; */
    height: 47px;
  }

  h1 {
    padding: 4px;
    font-size: 2rem;
    /* border: 1px solid yellow; */
  }

  .navlist {
    font-size: 26px;
    padding: 8px;
  }

  .h3 {
    font-size: min(350%, 400px);
  }

  .h2 {
    font-size: min(220%, 400px);
  }

  .contact {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

}